fastapi
uvicorn[standard]
requests
python-dotenv

sqlalchemy
psycopg2-binary

pandas
numpy

apscheduler

sentence-transformers
transformers
torch

faiss-cpu

langchain
langchain-community

geopy

scikit-learn
xgboost

python-multipart